<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Heartneat Home Page</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <!-- <link rel="stylesheet" href="/css/body.css" /> -->
  </head>
  <body>
    <div class="Menu">
      <h2 style="font-size: 35px">MENU</h2>
      <div id="myLinks">
        <p class="Menu_Option">How Much Information Would You Like?</p>
        <input type="radio" id="Little" name="info_amount" value="30" />
        <label for="Little">A Little Bit</label><br />
        <input type="radio" id="Medium" name="info_amount" value="60" />
        <label for="Medium">A Medium Amount</label><br />
        <input type="radio" id="Lot" name="info_amount" value="100" />
        <label for="Lot">A Lot of Information</label><br /><br />

        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" />
          <span class="slider_switch"></span>
        </label>

        <p>Turn Off Animations</p>
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" id="vibration_switch" />
          <span class="slider_switch"></span>
        </label>

        <p>Replace Vibration with Sound</p>
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" />
          <span class="slider_switch"></span>
        </label>
        <p>Include Animal Information</p>
      </div>
      <!-- Hamburger Menu -->
      <ul class="w3-ul">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <li class="w3-xxlarge"><i class="fa fa-bars"></i></li>
        </a>
      </ul>
    </div>

    <div class="Button_Options">
      <a href="/home/index">
        <img class="Picture_Frame_Small" src="./images/Plus.png" alt="" />
      </a>
      <a href="/home/quiz">
        <img
          class="Picture_Frame_Small"
          src="./images/question.png"
          href="index_quiz.ejs"
          alt=""
        />
      </a>
    </div>

    <!-- Main Heart Container  -->
    <!-- <div class="Heart_Functionality_Container"> -->
    <!-- <img class="heart" src="./images/HeartOnly.png" alt="" /> -->
    <!-- <img class="tomb" src="./images/RIP.png" alt="" /> -->
    <!-- <img class="weight" src="./images/weights.png" alt="" /> -->
    <!-- <img class="whale" src="./images/Whales.png" alt="" /> -->
    <!-- <img class="circle" src="./images/Circle.png" alt="" />
      <img style="opacity: 0" src="./images/Circle.png" alt="" />
    </div> -->

    <div class="imageShow" id="sliderImages">
      <img class="heart heart_element" src="./images/HeartOnly.png" alt="" />
      <img class="tomb heart_element" src="./images/RIP.png" alt="" />
      <img class="weight heart_element" src="./images/weights.png" alt="" />
      <img class="whale heart_element" src="./images/Whales.png" alt="" />
      <img class="ants heart_element" src="./images/Ants.png" alt="" />
    </div>

    <br />
    <!-- Current BPM results  -->
    <div class="BPM_Stats">
      <p class="small_gap">Current BPM</p>
      <span id="BPM_Val"></span>
    </div>
    <div class="Slider_Container">
      <input
        type="range"
        min="0"
        max="1200"
        value="60"
        class="slider"
        id="BPM_Range"
      />
    </div>

    <div class="number_input">
      <label for="BPM_Custom">Input Custom BPM:</label>
      <input
        type="number"
        id="BPM_Custom"
        name="BPM_Custom"
        min="0"
        max="1200"
        value="60"
      />
    </div>

    <!-- Information  -->
    <div class="info_background">
      <img class="Picture_Frame_Large" src="./images/heart_test2.png" alt="" />
      <p class="heart_info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore esse
        dolor vel molestiae dolores excepturi alias hic dicta vitae tempora
        laudantium consequuntur, earum, praesentium nemo deleniti distinctio
        quibusdam quasi. Aperiam!
      </p>

      <!-- Button -->
      <a href="https://www.heart.org/">
        <button class="heart_button" type="button">Click Here</button>
      </a>

      <!-- Source -->
      <p class="source overlaid">
        Photo by
        <a
          href="https://unsplash.com/@element5digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          >Element5 Digital</a
        >
        on
        <a
          href="https://unsplash.com/s/photos/hearts?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          >Unsplash</a
        >
      </p>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/burgerStyle.js"></script>
  </body>
</html>
