<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Home page</title>
</head>
<body>
<div class="container-fluid">
    <h1>
        Hello Friends, you have arrived at the home page through a router!
    </h1>
</div>
</body>
</html>