<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Home page</title>
    <link rel="stylesheet" href="/css/test.css" />
  </head>
  <body>
    <div class="Menu">
      <h2>MENU</h2>
      <p class="Menu_Option">How Much Information Would You Like?</p>
      <input type="radio" id="Little" name="info_amount" value="30" />
      <label for="Little">A Little Bit</label><br />
      <input type="radio" id="Medium" name="info_amount" value="60" />
      <label for="Medium">A Medium Amount</label><br />
      <input type="radio" id="Lot" name="info_amount" value="100" />
      <label for="Lot">A Lot of Information</label><br /><br />

      <label class="switch">
        <label for="checkbox"></label>
        <input type="checkbox" />
        <span class="slider_switch"></span>
      </label>

      <p>Turn Off Animations</p>
      <label class="switch">
        <label for="checkbox"></label>
        <input type="checkbox" />
        <span class="slider_switch"></span>
      </label>

      <p>Replace Vibration with Sound</p>
      <label class="switch">
        <label for="checkbox"></label>
        <input type="checkbox" />
        <span class="slider_switch"></span>
      </label>
      <p>Include Animal Information</p>
    </div>
    <div class="Other_Options">
      <img class="Picture_Frame" src="./images/Plus.png" alt="" />
      <img class="Picture_Frame" src="./images/question.png" alt="" />
    </div>
    <img class="Picture_Frame" src="./images/heart.png" alt="" />
    <div class="Slider_Container">
      <input
        type="range"
        min="0"
        max="1200"
        value="60"
        class="slider"
        id="BPM_Range"
      />
    </div>
    <div class="number_input">
      <label for="BPM_Custom">Input Custom BPM:</label>
      <input
        type="number"
        id="BPM_Custom"
        name="BPM_Custom"
        min="0"
        max="1200"
      />
    </div>

    <div class="text_block">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
        voluptatem sed, nulla at id vel eaque repellendus magnam ipsam corrupti
        voluptatibus, fuga sint iusto obcaecati libero quae odio optio a fugit?
        Ex quas optio accusantium tempora nisi officiis quibusdam,
        exercitationem beatae cumque, expedita est incidunt. Nihil fugiat nulla
        repellendus officia, facere sequi adipisci praesentium. Hic officia id
        error sint corporis suscipit, dolores in reprehenderit incidunt laborum
        dolor autem, atque ipsam consequatur cumque quas ea ipsum nisi.
        Asperiores, tenetur tempora quam laborum nobis doloribus ipsa voluptates
        ullam sapiente, ratione eligendi rem modi omnis quis expedita blanditiis
        consectetur cum magni laboriosam eaque quia alias! Inventore aliquid,
        illum, quos doloremque eum animi, rem maxime debitis sequi corrupti
        nesciunt aperiam. Doloribus quae quis aspernatur a minima exercitationem
        dicta! Alias, error, vel, praesentium facilis dolorem ipsum voluptatum
        dolores eos blanditiis commodi iusto tempore reprehenderit? Beatae
        provident, enim ratione similique quisquam suscipit vel asperiores,
        molestias optio quo quae quibusdam fuga dolorem, ea atque placeat ipsam
        quis laboriosam omnis accusantium sequi aut cumque. Doloremque nostrum
        eos quod deleniti consequuntur! Inventore porro, officia neque
        repellendus fuga voluptate! Laudantium repellat dolor quibusdam ipsum,
        quia beatae temporibus consequatur corporis at alias magnam libero
        reprehenderit assumenda optio rerum reiciendis deleniti excepturi.
      </p>
    </div>
  </body>
</html>
