<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Heartneat Home Page</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <!-- <link rel="stylesheet" href="/css/body.css" /> -->
  </head>
  <body>
    <div class="Menu">
      <h2 style="font-size: 35px">MENU</h2>
      <div id="myLinks">
        <p class="Menu_Option">How Much Information Would You Like?</p>
        <input type="radio" id="Little" name="info_amount" value="30" />
        <label for="Little">A Little Bit</label><br />
        <input type="radio" id="Medium" name="info_amount" value="60" />
        <label for="Medium">A Medium Amount</label><br />
        <input type="radio" id="Lot" name="info_amount" value="100" />
        <label for="Lot">A Lot of Information</label><br /><br />

        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" />
          <span class="slider_switch"></span>
        </label>

        <p>Turn Off Animations</p>
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" id="vibration_switch" />
          <span class="slider_switch"></span>
        </label>

        <p>Replace Vibration with Sound</p>
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" />
          <span class="slider_switch"></span>
        </label>
        <p>Include Animal Information</p>
      </div>
      <!-- Hamburger Menu -->
      <ul class="w3-ul">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <li class="w3-xxlarge"><i class="fa fa-bars"></i></li>
        </a>
      </ul>
    </div>

    <div class="Button_Options">
      <a href="/home/index">
        <img class="Picture_Frame_Small" src="./images/Plus.png" alt="" />
      </a>
      <a href="/home/quiz">
        <img
          class="Picture_Frame_Small"
          src="./images/question.png"
          href="index_quiz.ejs"
          alt=""
        />
      </a>
    </div>

    <div class="imageShow" id="sliderImages">
      <img
        class="tomb heart_element"
        src="./images/RIP.png"
        alt=""
        style="display: none"
      />
      <img
        class="ants heart_element"
        src="./images/Ants.png"
        alt=""
        style="display: none"
      />
      <img class="heart heart_element" src="./images/HeartOnly.png" alt="" />
      <img
        class="weight heart_element"
        src="./images/weights.png"
        alt=""
        style="display: none"
      />
      <img
        class="whale heart_element"
        src="./images/Whales.png"
        alt=""
        style="display: none"
      />
    </div>
    <br />

    <!-- Current BPM results  -->
    <div class="BPM_Stats">
      <p class="small_gap">Current BPM</p>
      <span id="BPM_Val"></span>
    </div>

    <div class="Slider_Container">
      <input
        type="range"
        min="0"
        max="1200"
        value="60"
        class="slider"
        id="BPM_Range"
      />
    </div>

    <div class="number_input">
      <label for="BPM_Custom">Input Custom BPM:</label>
      <input
        type="number"
        id="BPM_Custom"
        name="BPM_Custom"
        min="0"
        max="1200"
        value="60"
      />
    </div>

    <!-- Information Shrew -->
    <div class="info_background">
      <h2 class="Information Header">Pygmy Shrew</h2>

      <iframe
        class="citing_media"
        height="300px"
        src="https://www.youtube.com/embed/1wgcZjeEUIM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info">
        1. The Pygmy shew has one of the fastest heart rates of the animal
        kingdom with a mindboggling 1200 beats per minute!
      </p>
      <p class="heart_info">
        2. Along with a fast heart rate the pygmy shrew is one of the shortest
        animals being roughly 1.5 to 2 inches and only having a life span of 11
        months.
      </p>

      <!-- Button -->
      <a
        href="https://www.nwf.org/Magazines/National-Wildlife/2010/Americas-Smallest-Mammal"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
    </div>
    <p class="citing_text">Video of Sherw by Inside Tech</p>

    <!-- Information Whale -->

    <div class="info_background">
      <h2 class="Information Header">Whale</h2>

      <iframe
        class="citing_media"
        height="300px"
        src="https://www.youtube.com/embed/hxL4XkHVSxg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info">
        1. Whales have one of the slowest heart rates of the animal kingdom,
        <br />
        with the minimum range being a dangerous 2 beats per minute and a max of
        35 beats per minute!
      </p>
      <p class="heart_info">
        2. Because of the oxygen levels within the ocean whales constantly have
        alterations in heart rate. <br />
        Going towards the waters surface rises a whale's heart rate and diving
        down results in a decrease in heart rate.
      </p>

      <!-- Button -->
      <a
        href="https://news.stanford.edu/2019/11/25/first-ever-recording-blue-whales-heart-rate/"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
    </div>
    <p class="citing_text">Video of Whale by Stanford</p>

    <!-- Information Whale -->

    <div class="info_background">
      <h2 class="Information Header">Ants</h2>

      <iframe
        class="citing_media"
        height="300px"
        src="https://www.youtube.com/embed/duSxtQD_6uY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info">
        1.Ants have a heart rate range that is very familiar to our own. <br />
        More specifically the range of an Ant has a heart range ranging from 46
        to 46 beats per minute.
      </p>
      <p class="heart_info">
        2. Although there are many species of ants, there is no dramatic change
        varying from species to species. <br />
        All seem to maintain an average of 53.5 beats per minute.
      </p>

      <!-- Button -->
      <a
        href="https://sasakilab.ecology.uga.edu/wp-content/uploads/2021/08/eea.13071.pdf"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
    </div>
    <p class="citing_text">Video of Whale by Stanford</p>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/burgerStyle.js"></script>
  </body>
</html>
