<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Heartneat Home Page</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/body_and_citing.css" />
  </head>
  <body>
    <!-- Start of the Menu -->
    <div class="Menu">
      <h2 style="font-size: 35px">MENU</h2>
      <div id="myLinks">

        <!-- Information Selection  -->
        <h3 class="Menu_Option">How Much Information Would You Like?</h3>
        
        <div class="spacer_square">      
          <label class="container">Little
            <input type="radio" id="Little" name="info_amount" value="30"/>
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Medium
            <input type="radio" id="Medium" name="info_amount" value="60" checked="true"/>
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Lots
            <input type="radio" id="Lot" name="info_amount" value="100"/>
            <span class="checkmark"></span>
          </label>
        </div>

        <!-- Switch 1  -->
      
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" id="amimation_switch"/>
          <span class="slider_switch"></span>
        </label>
        <p>Turn Off Animations</p>

        <!-- Switch 2  -->
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox" id="vibration_switch" />
          <span class="slider_switch"></span>
        </label>
        <p>Replace Vibration with Sound</p>
        
        <!-- Switch 3  -->
        <label class="switch">
          <label for="checkbox"></label>
          <input type="checkbox"  checked="checked" id="info_switch"/>
          <span class="slider_switch"></span>
        </label>
        <p>Include Animal Information</p>
      </div>
      
      <!-- Hamburger Menu -->
      <ul class="w3-ul">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <li class="w3-xxlarge"><i class="fa fa-bars"></i></li>
        </a>
      </ul>
    </div>

    
    <!-- Button Navigation on Homepage -->
    <div class="Button_Options">
      <a href="/home/index">
        <img class="Picture_Frame_Small" src="./images/Plus.png" alt="" />
      </a>
      <a href="/home/quiz">
        <img
          class="Picture_Frame_Small"
          src="./images/question.png"
          href="index_quiz.ejs"
          alt=""
        />
      </a>
    </div>
  

    <!-- Array of images and animations to place within main circle -->
    <div class="imageShow" id="sliderImages" >
 

      <!-- Tombstone animation and image -->
      <img
        class="tomb heart_element tomb_animation"
        src="./images/RIP.png"
        alt=""
        style="display: none"
      />
      <!-- Ants animation and image -->
      <img
        class="ants heart_element"
        src="./images/Ants.png"
        alt=""
        style="display: none"
      />

      
      <!-- Heart animation and image -->
      <img class="heart heart_element" src="./images/HeartOnly.png" alt="" />
      <img
        class="weight heart_element weight_animation"
        src="./images/weights.png"
        alt=""
        style="display: none"
      />
      <!-- Whale animation and image -->
      <img
        class="whale heart_element whale_animation"
        src="./images/Whales.png"
        alt=""
        style="display: none"
      />
      <!-- Shrew animation and image -->
      <img
      class="shrew heart_element shrew_animation"
      src="./images/Shrew.png"
      alt=""
      style="display: none"
      />
     <!-- Sleeping animation and image -->
      <img
      class="ZZZ heart_element ZZZ_animation"
      src="./images/Sleeping.png"
      alt=""
      style="display: none"
      />
         
      <!-- Ants & Sleeping animation and image -->
      <div class="sleeping_and_ant"style="display: none">
        <img
        class="ants_combo ants_animation heart_element"
        src="./images/Ants.png"
        alt=""
        />
        <img
        class="ZZZ_combo ZZZ_animation heart_element"
        src="./images/Sleeping.png"
        alt=""

        />
      </div>


    </div>
    <br />

    <!-- Current BPM results  -->
    <div class="BPM_Stats">
      <p class="small_gap">Current BPM</p>
      <span id="BPM_Val"></span>
    </div>

    <!-- BPM Slider  -->
    <div class="Slider_Container">
      <input
        type="range"
        min="0"
        max="1200"
        value="60"
        class="slider"
        id="BPM_Range"
      />
    </div>

    <!-- Number Input BPM   -->
    <div class="number_input">
      <label for="BPM_Custom">Input Custom BPM:</label>
      <input
        type="number"
        id="BPM_Custom"
        name="BPM_Custom"
        min="0"
        max="1200"
        value="60"
      />
    </div>

    <!-- Information Shrew -->
    <div class="info_background" id="shrewInfo">
      <h2 class="Information Header" id="littleInfo1">Pygmy Shrew</h2>

      <iframe
        class="citing_media"
        id="videoInfo"
        height="300px"
        src="https://www.youtube.com/embed/1wgcZjeEUIM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info" id="littleInfo">
        1. The Pygmy shew has one of the fastest heart rates of the animal
        kingdom with a mindboggling 1200 beats per minute!
      </p>
      <p class="heart_info" id="mediumInfo">
        2. Along with a fast heart rate the pygmy shrew is one of the shortest
        animals being roughly 1.5 to 2 inches and only having a life span of 11
        months.
      </p>

      <!-- Button -->
      <a
        href="https://www.nwf.org/Magazines/National-Wildlife/2010/Americas-Smallest-Mammal"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
      <p id="littleInfo01" class="citing_text">Video of Shrew by Inside Tech</p>
    </div>

    <!-- Information Whale -->

    <div class="info_background" id="whaleInfo">
      <h2 class="Information Header">Whale</h2>

      <iframe
        class="citing_media"
        id="videoInfo"
        height="300px"
        src="https://www.youtube.com/embed/hxL4XkHVSxg"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info" id="littleInfo">
        1. Whales have one of the slowest heart rates of the animal kingdom,
        <br />
        with the minimum range being a dangerous 2 beats per minute and a max of
        35 beats per minute!
      </p>
      <p class="heart_info" id="mediumInfo">
        2. Because of the oxygen levels within the ocean whales constantly have
        alterations in heart rate. <br />
        Going towards the waters surface rises a whale's heart rate and diving
        down results in a decrease in heart rate.
      </p>

      <!-- Button -->
      <a
        href="https://news.stanford.edu/2019/11/25/first-ever-recording-blue-whales-heart-rate/"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
      <p class="citing_text" id="littleInfo02">Video of Whale by Stanford</p>
    </div>

    <!-- Information Ant -->

    <div class="info_background" id="antInfo">
      <h2 class="Information Header" id="littleInfo9">Ants</h2>

      <iframe
        class="citing_media"
        id="videoInfo"
        height="300px"
        src="https://www.youtube.com/embed/duSxtQD_6uY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <p class="heart_info" id="littleInfo">
        1.Ants have a heart rate range that is very familiar to our own. <br />
        More specifically the range of an Ant has a heart range ranging from 46
        to 46 beats per minute.
      </p>
      <p class="heart_info" id="mediumInfo">
        2. Although there are many species of ants, there is no dramatic change
        varying from species to species. <br />
        All seem to maintain an average of 53.5 beats per minute.
      </p>

      <!-- Button -->
      <a
        href="https://sasakilab.ecology.uga.edu/wp-content/uploads/2021/08/eea.13071.pdf"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
      <p class="citing_text" id="littleInfo03">Video of Ant by Karel S.</p>
    </div>

    <!-- Information Normal -->

    <div class="info_background" id="humanInfo">
      <h2 class="Information Header">Average Human Heart Rate</h2>

      <iframe class="citing_media" id="videoInfo" width="560" height="315" src="https://www.youtube.com/embed/GMBSU-2GK3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p>
        <a href="https://giphy.com/gifs/love-heart-heartbeat-9x2SEdH6d13tKgCboq"
          >via GIPHY</a
        >
      </p>

      <p class="heart_info" id="littleInfo">
        1. Typically the resting rate of the human heart ranges from 60 to 100
        BPM.
      </p>
      <p class="heart_info" id="mediumInfo">
        2. If your heart rate is not beating at a typical pace please contact your doctor, you may have <b>arrhythmia</b>.  
      </p>

      <!-- Button -->
      <a
        href="https://www.cdc.gov/heartdisease/atrial_fibrillation.htm"
      >
        <button class="heart_button" type="button">Learn More</button>
      </a>
      <p class="citing_text" id="littleInfo05">Video by National Geographic </p>
    </div>

    <!-- Information Max -->

    <div class="info_background" id="maxHumanInfo">
      <h2 class="Information Header">Maximum Human Heart Rate</h2>

    <iframe class="citing_media" id="videoInfo" width="560" height="315" src="https://www.youtube.com/embed/wWGulLAa0O0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p><a href="https://giphy.com/gifs/35GIhjJzAR5Wsne9TT">via GIPHY</a></p>
      </p>

   
      <p class="heart_info" id="littleInfo">
        1. Heart rates increase during excerise. To find your maximum heart rate subtract your age from 220.  
      </p>
      <p class="heart_info" id="mediumInfo">
        2.If your heart rate is consistently above the average level you may wish to seek your doctor about potential <b>cardiomyopathy</b>.   
      </p>

      <!-- Button -->
      <a
        href="https://www.cdc.gov/physicalactivity/basics/measuring/heartrate.htm#:~:text=You%20can%20estimate%20your%20maximum,beats%20per%20minute%20(bpm)."
      >
        <button class="heart_button" type="button">Excerise</button>
      </a>

     <br>
      <a
        href="https://www.cdc.gov/heartdisease/cardiomyopathy.htm"
      >
        <button class="heart_button" type="button">Cardiomyopathy</button>
      </a>
      <p class="citing_text" id="littleInfo07">Video by British Heart Foundation</p>

    </div>


      <!-- Information Death -->

      <div class="info_background" id="deathInfo">
        <h2 class="Information Header">Death</h2>
  
        <iframe class="citing_media" id="videoInfo" allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/Zqw1k4m930mKrYXGup/video" width="480"></iframe>
        <p><a href="https://giphy.com/gifs/35GIhjJzAR5Wsne9TT" id="gifInfo">via GIPHY</a></p>

        <p class="heart_info" id="littleInfo">
          1. No living creature can survive too long with a heart rate of 0.  
        </p>
        <p class="heart_info" id="mediumInfo">
          2. If you find that your heart has stopped for an abnormal period of time please seek a medical professional.  
        </p>
  
        <!-- Button -->
        <a
          href="https://www.mhanational.org/bereavement-and-grief"
        >
          <button class="heart_button" type="button">Learn More</button>
        </a>
        <p class="citing_text" id="littleInfo09">Gif by Janelle DeWitt</p>
      </div>


       <!-- Information Sleep -->

       <div class="info_background" id="sleepInfo">
        <h2 class="Information Header" id="littleInfo25">Sleeping</h2>
  
        <iframe class="citing_media" id="videoInfo" width="560" height="315" src="https://www.youtube.com/embed/2IBfUUgiP9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
        <p class="heart_info" id="littleInfo">
          1. When sleeping, humans have a heart rate typically ranging from 40 to 50 BPM.  
        </p>
        <p class="heart_info" id="mediumInfo">
          2. Some individuals with <b>atrial fibrillation</b> may experience sleep apnea.   
        </p>
  
        <!-- Button -->
        <a
          href="https://www.sleepfoundation.org/physical-health/sleeping-heart-rate#:~:text=Average%20Heart%20Rates%20While%20Sleeping,vary%20depending%20on%20multiple%20factors."
        >
          <button class="heart_button" type="button">Learn More</button>
        </a>
        <p class="citing_text" id="littleInfo010">Image by American Heart Association</p>
      </div>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/burgerStyle.js"></script>
  </body>
</html>
