<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
/>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Quiz page</title>
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/quiz.css" />
  </head>
  <body>
    <div class="Menu">
      <h2 style="font-size: 35px">MENU</h2>
      <div id="myLinks">
        <p class="Menu_Option">Use these buttons to naviate to another page!</p>
        <div class="Button_Options">
          <a href="/home/index">
            <img class="Picture_Frame_Small" src="/images/Plus.png" alt="" />
          </a>
          <a href="/home">
            <img
              class="Picture_Frame_Small"
              src="/images/heart_button.png"
              href="home.ejs"
              alt=""
            />
          </a>
        </div>
      </div>
      <!-- Hamburger Menu -->
      <ul class="w3-ul">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <li class="w3-xxlarge"><i class="fa fa-bars"></i></li>
        </a>
      </ul>
    </div>

    <img class="Picture_Frame_Small" src="/images/picquiz.jpg" alt="" />

    <p class="quiz_source">
      Photo by
      <a
        href="https://unsplash.com/@towfiqu999999?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Towfiqu barbhuiya</a
      >
      on
      <a
        href="https://unsplash.com/s/photos/cardiologist?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Unsplash</a
      >
    </p>

    <div class="Question_Box">

    
      <form>
        <h2>What is the resting heart rate of a person?</h2>
       

        <label class="container">60 to 100 BPM 
          <input type="radio" id="Norm" name="normal_rate" value="Answer" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">110 to 150 BPM
          <input type="radio" id="High" name="normal_rate" value="Wrong"   checked="checked"/>
          <span class="checkmark"></span>
        </label>
        

        <label class="container">20 to 50 BPM
          <input type="radio" id="Low" name="normal_rate" value="Wrong"  />
          <span class="checkmark"></span>
        </label>
       
   
      

        <h2>What is the typical heartrate when a person sleeps?</h2>



        <label class="container">60 to 100 BPM
          <input type="radio" id="High" name="sleep_rate" value="Wrong"  checked="checked" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">110 to 150 BPM
          <input type="radio" id="Extreme" name="sleep_rate" value="Wrong" />
          <span class="checkmark"></span>
        </label>
        

        <label class="container">40 to 50 BPM
          <input type="radio" id="Norm" name="sleep_rate" value="Answer"  />
          <span class="checkmark"></span>
        </label>
       

        <h2>Which animal has the slowest heart rate?</h2>



        <label class="container">Shrimp
          <input type="radio" id="Shrimp" name="slowest_rate" value="Wrong" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">Whale
          <input type="radio" id="Whale" name="slowest_rate" value="Answer" />
          <span class="checkmark"></span>
        </label>
        

        <label class="container">Elephant
          <input type="radio" id="Elephant" name="slowest_rate" value="Wrong"  checked="checked"/>
          <span class="checkmark"></span>
        </label>

        <h2>How do you find your approximate maximum heart rate?</h2>

        <label class="container">220 - age
          <input type="radio" id="Just_Right" name="max_rate" value="Answer"  />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">180 - age
          <input type="radio" id="Too_Low" name="max_rate" value="Wrong"   checked="checked"/>
          <span class="checkmark"></span>
        </label>
        

        <label class="container">25 + age
          <input type="radio" id="Adding" name="max_rate" value="Wrong" />
          <span class="checkmark"></span>
        </label>



       
       


        <h2>Which animal has the fastest heart rate?</h2>

        <label class="container">Moose
          <input type="radio" id="Moose" name="fastest_rate" value="Wrong" checked="checked" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">Alaskan Bullwom
          <input type="radio" id="Worm" name="fastest_rate" value="Wrong"  />
          <span class="checkmark"></span>
        </label>
        

        <label class="container">Pigmy Shrew
          <input type="radio" id="Shrew" name="fastest_rate" value="Answer" />
          <span class="checkmark"></span>
        </label>



        <h2>What is arrhythmia?</h2>

        
        <label class="container">Heart starts dancing
          <input type="radio" id="dance" name="disease" value="Wrong" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">Irregular heartbeat 
          <input type="radio" id="abnormal" name="disease" value="Answer"  checked="checked" />
          <span class="checkmark"></span>
        </label>
        

        <label class="container">Heart Shrinks
          <input type="radio" id="faster" name="disease" value="Wrong" />
          <span class="checkmark"></span>
        </label>


        <h2>Select <b>every</b> item from the list that is a heart disease:</h2>

        <label class="container">Mononucleosis
          <input type="checkbox" id="disease1" name="disease1" value="Wrong" />
          <span class="checkmark"></span>
        </label>

        <label class="container">Cardiomyopathy
          <input type="checkbox" id="disease2" name="disease2" value="Answer" />
          <span class="checkmark"></span>
        </label>

        <label class="container">Arrhythmia
          <input type="checkbox" id="disease3" name="disease3" value="Wrong" />
          <span class="checkmark"></span>
        </label>

        <label class="container">Covid 32
          <input type="checkbox" id="disease4" name="disease4" value="Wrong" />
          <span class="checkmark"></span>
        </label>
    
        <h2>
          Should you seek help if your heart rate <br>  is consistently outside the average range?
        </h2>


        <label class="container">True 
          <input type="radio" id="Accurate" name="TF" value="Answer" checked="checked" />
          <span class="checkmark"></span>
        </label>
        
        <label class="container">False 
          <input type="radio" id="Incorrect" name="TF" value="Wrong" />
          <span class="checkmark"></span>
        </label>

      </div>

    <div class="quiz_conclusion">
        <h2>Please provide your feedback on this experience:</h2>

        <textarea
          name="Feedback"
          rows="5"
          cols="40"
          class="Input_Paragraph"
          placeholder="Please Write Your Feedback Here..."
        ></textarea>
        <br />

        <input class="sub_button" type="submit" value="Submit" />
      </form>
    </div>

    <script type="text/javascript" src="/js/burgerStyle.js"></script>
  </body>
</html>
