<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Root page</title>
</head>
<body>
<div class="container-fluid">
   <h1>
       Hello Friends, this is an example of how to run use ejs code in html -> whats 2 + 2 =  <%= 2 + 2%>
   </h1>
</div>
</body>
</html>