<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Quiz page</title>
</head>
<body>
<h1>Quiz Page</h1>


<div class="textbox">
Can you name two different heart diseases? 
</div>

</div>
</body>
</html>