<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Map page</title>
    <link rel="stylesheet" href="/css/map.css" />
</head>
<body>
<h1>Map Page</h1>
<input type="radio" id="Cardiologist" name="Map_Selecction" value="30" />
<label for="Cardiologist">Find local cardiologist</label><br />
<input type="radio" id="Gym" name="Map_Selecction" value="60" />
<label for="Gym">Find local gyms</label><br />
<input type="radio" id="Nutritionist" name="Map_Selecction" value="100" />
<label for="Nutritionist">Find local nutritionists</label><br /><br />
<img src="" alt="">

</div>
<div id="panel"></div>    
<div id="map"></div>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeWdftMwwVIlpZLM1ePzBbkYvgjE7Oqf8&callback=initMap&libraries=places&v=weekly"
async
></script>
<script type="text/javascript" src="/js/map.js"></script>
</body>
</html>