/* Image sizes for a verity of different images */
.Picture_Frame_Small{
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  
.Picture_Frame_Medium{
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .Picture_Frame_Large{
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  /* Button orientation, allowing elements to be side by side */
  .Button_Options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* Home Page information button */
  
.heart_button{
  width: 40%;
  height: 120px;
  border: none;
  margin-bottom: 5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  border-radius: 20px;
  background-color: purple;
  color: white;
  transition: transform 1s linear, background 0.5s;
}

.heart_button:hover{
  background-color: #0645a7;
  color: white;
  transform: scale(1.1);
}

/* Submission Button for quiz page */

.sub_button {
  width: 40%;
  height: 120px;
  border: none;
  margin-bottom: 5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: xx-large;
  font-weight: 600;
  font-style: italic;
  border-radius: 20px;
  background-color: purple;
  color: white;
  transition: transform 1s linear, background 0.5s;
}

.sub_button:hover {
  background-color: #0645a7;
  color: white;
  transform: scale(1.1);
}
