h2{
  font-weight: 600;
}
.quiz_source{
    margin: 0 auto;
    text-align: center;
    display: block; 
    color: rgb(106, 0, 255);
    opacity: 0.8;
    font-weight: 700;
    font-size: medium;
  }

  .Question_Box{
    border: 20px double purple;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .Question_Box > p{
    font-size: x-large; 
    font-weight: 550;
    padding-left: 15px;
  }
 
  .Input_Paragraph {
    width: 80%;
    height: 30%;
    font-size:14pt;
    border: 8px double  rgb(223, 88, 111);
  }

  .quiz_conclusion{
      margin: auto;
      align-items: center;
      align-content: centerd;
      text-align: center;
  }


  