
.quiz_source{
    margin: 0 auto;
    text-align: center;
    display: block; 
    color: rgb(106, 0, 255);
    opacity: 0.8;
    font-weight: 700;
    font-size: medium;
  }

  .Question_Box{
    border: 20px double purple;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .Question_Box > p{
    font-size: x-large; 
    font-weight: 550;
    padding-left: 15px;
  }
 
  .Input_Paragraph {
    width: 80%;
    height: 30%;
    font-size:14pt;
    border: 8px double  rgb(223, 88, 111);
  }

  .quiz_conclusion{
      margin: auto;
      align-items: center;
      align-content: centerd;
      text-align: center;
  }


  /* The following  if for beautification of the radio buttons*/
  .container {
    display: block;
    position: relative;
    padding-left: 1px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: x-large;

  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    outline: 1px solid purple;
    left: 450px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #444;
  }
  
  .container input:checked ~ .checkmark {
    background-color: purple;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
